name: .NET Build Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Project
        run: dotnet build --no-restore

      - name: Run Tests
        run: dotnet test --no-build --verbosity normal




/* What is runs-on: ubuntu-latest?

GitHub creates a temporary Linux VM
Runs your code
Deletes it after finish   

What is uses:?

It uses pre-built GitHub marketplace actions.

Example:

checkout action

setup-dotnet action    */  